<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fake.domain.adamlopresto.godo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="fake.domain.adamlopresto.godo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="fake.domain.adamlopresto.godo.GoDoContentProvider"
            android:authorities="fake.domain.adamlopresto.godo.contentprovider"
            android:exported="false" >
        </provider>

        <activity
            android:name="fake.domain.adamlopresto.godo.ContextsActivity"
            android:label="@string/title_activity_contexts"
            android:parentActivityName="fake.domain.adamlopresto.godo.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fake.domain.adamlopresto.godo.MainActivity" />
        </activity>
    </application>

</manifest>