<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fake.domain.adamlopresto.godo"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="1"
    android:versionName="1.0"
    >

    <uses-sdk tools:node="replace" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true"
        tools:ignore="UnusedAttribute">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <provider
            android:name=".GoDoContentProvider"
            android:authorities="fake.domain.adamlopresto.godo.contentprovider"
            android:exported="false" >
        </provider>

        <activity
            android:name=".ContextsActivity"
            android:label="@string/title_contexts"
            android:parentActivityName=".MainActivity"
            tools:ignore="UnusedAttribute" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".TaskActivity"
            android:exported="true"
            android:label="@string/title_activity_task"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/NoActionBar"
            tools:ignore="UnusedAttribute" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            tools:ignore="UnusedAttribute" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".TaskerPluginEditActivity"
            android:label="@string/title_activity_tasker_plugin_edit" >
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".GoDoReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver" >
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".TaskRepetitionRuleActivity"
            android:label="@string/title_activity_task_repetition_rule" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TaskActivity" />
        </activity>

        <service
            android:name=".NotificationService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <receiver android:name=".GoDoAppWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/go_do_app_widget_info" />
        </receiver>

        <service
            android:name=".GoDoWidgetService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" >
        </service>

        <activity
            android:name=".RepetitionRulesListActivity"
            android:label="@string/title_activity_repetition_rules_list"
            android:parentActivityName=".TaskActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fake.domain.adamlopresto.godo.TaskActivity" />
        </activity>
        <activity
            android:name=".HistoryActivity"
            android:label="@string/history_activity_label"
            android:parentActivityName=".TaskActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fake.domain.adamlopresto.godo.TaskActivity" />
        </activity>
        <activity
            android:name=".DependenciesActivity"
            android:theme="@style/NoActionBar"
            android:label="@string/relationships"
            android:parentActivityName=".TaskActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fake.domain.adamlopresto.godo.TaskActivity" />
        </activity>
    </application>

</manifest>